<%= render "shared/header" %>

  <%# 記事一覧 %>
  <div class='tweet-contents'>
    <% if @tweets.present? %>
      <h2 class='title'><%= "#{@tweet.category.name}に関する記事" %></h2>
        <ul class='tweet-lists'>
          <% @tweets.each do |tweet|%>
            <li class='list'>
              <%= link_to tweet_path(tweet.id) do %>
                <div class='tweet-img-content'>
                  <%= image_tag tweet.image, class: "tweet-img" if tweet.image.attached? %>  
                </div>
                <div class='tweet-info'>
                  <h3 class='tweet-name'>
                    <%= tweet.title %>
                  </h3>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
    <% else @tweets.length == 0 %>
      <li class='list'>
        <%= link_to '#' do %>
          <%= image_tag "inko-sample.png", class: "tweet-img" %>
        <% end %>
      </li>
    <% end %>
  </div>

<%= render "shared/footer" %>