<%= render "shared/header" %>

  <%# とりぴよでできること %>
  <div class='feature-contents'>
    <h2 class='title'>
      とりぴよでできること
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "inko-jiman.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          うちの子自慢
        </h3>
        <p class='feature-list-description'>
          自分が飼っている可愛いインコについてお互い語りましょう
        </p>
      </li>
      <li class='list'>
        <%= image_tag "inko-neru.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          インコの疑問
        </h3>
        <p class='feature-list-description'>
          首を振っている、目をギョロっとさせているなど、インコの何故何がわかるかも？
        </p>
      </li>
      <li class='list'>
        <%= image_tag "inko-masuku.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          情報交換など
        </h3>
        <p class='feature-list-description'>
          例えば、引越し先などでインコを診てくれる病院などを事前に探す等、情報交換として活用してください
        </p>
      </li>
    </ul>
  </div>
  <%# とりぴよでできること %>

  <%# 記事一覧 %>
  <div class='tweet-contents'>
    <h2 class='title'>新規投稿記事</h2>
    <ul class='tweet-lists'>
      <% if @tweets.present? %>
        <% @tweets.each do |tweet|%>
          <li class='list'>
            <%= link_to tweet_path(tweet.id) do %>
              <div class='tweet-img-content'>
                <%= image_tag tweet.image, class: "tweet-img" if tweet.image.attached? %>  
              </div>
              <div class='tweet-info'>
                <h3 class='tweet-name'>
                  <%= tweet.title %>
                </h3>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>

      <%# サンプル画像 %>
      <% if @tweets.length == 0 %>
        <li class='list'>
          <%= link_to '#' do %>
            <%= image_tag "inko-sample.png", class: "tweet-img" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
    <%# サンプル画像 %>
  <%# 記事一覧 %>

  <%#投稿ボタン %>
  </div>
  <%= link_to(new_tweet_path, class: 'post-btn') do %>
    <span class='post-btn-text'>投稿する</span>
    <%= image_tag 'inko_post.png' , size: '185x50' ,class: "post-btn-icon" %>
  <% end %>
  <%#投稿ボタン %>

<%= render "shared/footer" %>