<%= render "shared/header" %>

<%# 記事の概要 %>
<div class="tweet-show">
  <div class="tweet-box">
    <h2 class="name">
      <%= @tweet.title %>
    </h2>
    <div class="tweet-img-content">
      <%= image_tag @tweet.image ,class:"tweet-box-img" %>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @tweet.user_id %>
        <%= link_to "記事の編集", "#", method: :get, class: "tweet-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", "#", method: :delete, class:"tweet-destroy" %>
      <% end %>
    <% end %>

    <div class="tweet-explain-box">
      <span><%= @tweet.article %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-tweet">投稿者</th>
          <td class="detail-value"><%= @tweet.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-tweet">カテゴリー</th>
          <td class="detail-value"><%= @tweet.category.name %></td>
        </tr>
        <tr>
          <th class="detail-tweet">都道府県</th>
          <td class="detail-value"><%= @tweet.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-tweet">市区町村</th>
          <td class="detail-value"><%= @tweet.city %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>いいね 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /記事の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-tweet-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class="another-tweet"><%= @tweet.category.name %>をもっと見る</a>
</div>

<%= render "shared/footer" %>