<header class="top-page-header">
  <h1 class="title-logo">鳥のいろいろ とりぴよ</h1>
  <div class="search-bar-contents">
    <%= link_to image_tag("inko-logo.png", class:"inko-icon"), "/" %>
    <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "キーワードから探す", class: "input-box" %>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    <% end %>
  </div>

  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '地域', "#", class: "prefecture-list" %></li>
      <li><%= link_to 'カテゴリー', "#", class: "category-list", id: "category" %></li>
    </ul>
    <ul class='category-windou', id="pull-down">
      <li><%= link_to '普段の様子', '/tweets/category/2', class: "pull-down-list" %></li>
      <li><%= link_to '飼育について', '/tweets/category/3', class: "pull-down-list" %></li>
      <li><%= link_to '飼育用品', '/tweets/category/4', class: "pull-down-list" %></li>
      <li><%= link_to 'おもちゃ', '/tweets/category/5', class: "pull-down-list" %></li>
      <li><%= link_to 'ショップ', '/tweets/category/6', class: "pull-down-list" %></li>
      <li><%= link_to '病院', '/tweets/category/7', class: "pull-down-list" %></li>
      <li><%= link_to 'その他', '/tweets/category/8', class: "pull-down-list" %></li>
    </ul>

    <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, "#", class: "user-nickname" %> </li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
    </ul>
  </div>
</header>